.contact {
  h1 {
    font-family: "Spartan";
    margin: 0;
    line-height: 5rem;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: -7px;
    font-weight: 900;
    margin-top: 1rem;
    text-align: left;

    span {
      color: #3182ce;
      position: relative;
      top: 0;
      transition: all ease 0.5s;
      cursor: default;

      &:hover {
        top: -10px;
        color: #48bb78;
      }
    }
  }
}

.css-pn901d {
  display: none !important;
}
