.projects {
  h1 {
    font-family: "Spartan";
    margin: 0;
    line-height: 5rem;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: -7px;
    font-weight: 900;
    margin-top: 1rem;
    text-align: left;

    span {
      color: #48bb78;
      position: relative;
      top: 0;
      transition: all ease 0.5s;
      cursor: default;

      &:hover {
        top: -10px;
        color: #ed64a6;
      }
    }
  }
}

.css-1c8z308-Projects,
.css-kfx1uu {
  margin-bottom: 50rem !important;
}

/* Small devices (phones, 794px and down) */
@media only screen and (max-width: 794px) {
  .css-1c8z308-Projects {
    grid-template-columns: 1fr !important;
  }
}
